body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:560px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:710px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u0 {
  position:absolute;
  left:20px;
  top:10px;
  width:560px;
  height:710px;
  text-align:left;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:556px;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:490px;
}
#u2 {
  position:absolute;
  left:20px;
  top:170px;
  width:560px;
  height:490px;
}
#u3 {
  position:absolute;
  left:2px;
  top:237px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
