body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-20px;
  width:742px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:820px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u63 {
  position:absolute;
  left:20px;
  top:20px;
  width:742px;
  height:820px;
  text-align:left;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:738px;
  word-wrap:break-word;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:1230px;
}
#u65 {
  position:absolute;
  left:20px;
  top:190px;
  width:742px;
  height:1230px;
}
#u66 {
  position:absolute;
  left:2px;
  top:607px;
  width:738px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:80px;
  background:inherit;
  background-color:rgba(245, 250, 254, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67 {
  position:absolute;
  left:600px;
  top:190px;
  width:162px;
  height:80px;
}
#u68 {
  position:absolute;
  left:2px;
  top:32px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
